@use "../../../styles/utils/abstract/mixins" as mix;
@use "../../../styles/utils/abstract/variable" as var;

.collection-empty-state {
    padding: var.$spacing-lg;

    &__container {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__illustration {
        width: 5rem;
        height: 5rem;
        margin-bottom: 24px;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var.$gray-500;

        img {
            display: block;
            margin: auto;
        }
    }

    &__title {
        font-size: calc(var.$font-size-xl * 1.25);
    }

    &__content {
        max-width: 40rem;
        margin: var.$font-size-md auto;
        color: var.$gray-500;
    }
}