@use "../../styles/utils/abstract/variable" as var;
@use "../../styles/utils/abstract/mixins" as mix;

.not-available {
    position: relative;
    padding: 4rem 0;

    &__container {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__illustration {
        width: 100%;
        margin-bottom: var.$spacing-lg;

        img {
            display: block;
            margin: auto;
        }
    }

    &__title {
        font-size: var.$font-size-xl;
    }

    &__content {
        max-width: 40rem;
        margin: var.$font-size-md auto;
        color: var.$gray-500;
    }
}