@use "../../styles/utils/abstract/mixins" as mix;
@use "../../styles/utils/abstract/variable" as var;

.search-wrapper {
    position: fixed;
    inset: 0;
    background-color: var.$white;
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition:
        transform .5s cubic-bezier(0.075, 0.82, 0.165, 1),
        width .3s ease;

    z-index: var.$z-index-max;

    &__header {
        width: 100%;
        padding: var.$spacing-md;
        border-bottom: 1px solid var.$gray-200;
        height: var(--navbar-height);
        flex-shrink: 0;
    }

    &__body {
        width: 100%;
        padding: var.$spacing-md;
        flex: 1;
        min-height: 0;
        overflow-y: auto;
    }

    &.is-active {
        transform: translateX(0);
    }

    @include mix.respond(md) {
        max-width: 50%;
    }
}

.search-wrapper-backdrop {
    position: var.$position-fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    transition: opacity .3s ease,
        visibility .3s ease;
    z-index: var.$z-index-overlay;
    cursor: pointer;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

.form-search {
    margin: 0 auto;

    &__group {
        position: relative;
    }

    &__prepend {
        position: relative;

        .input-field {
            padding-left: var.$spacing-xxl;
            padding-right: var.$spacing-xxl;
        }
    }

    &__input {
        width: 100%;
        display: block;
        border: 1px solid var.$gray-200;
        padding: var.$spacing-sm var.$spacing-md;
        transition: border 0.3s ease;

        &:focus {
            border: 1px solid var.$gray-500;
        }
    }
}

.quick-suggestion {
    text-align: left;
    padding: var.$spacing-md 0;
    color: var.$gray-600;
    margin-bottom: var.$spacing-lg;
}

.btn-submit-search,
.btn-search-icon {
    position: absolute;
    padding: 0;
    font-size: var.$font-size-lg;
    background-color: transparent;
    position: absolute;
    top: 50%;
    bottom: 0;
    height: calc(100% - 6px);
    width: var.$spacing-xl;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.btn-submit-search {
    right: 4px;
}

.btn-search-icon {
    left: 4px;
}