@use "../../styles/utils/abstract/mixins" as mix;
@use "../../styles//utils//abstract/variable" as var;

.page-shopping-bag {
    background-color: var.$white;
}

.cart-content {
    display: block;
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__right,
    &__left {
        width: 100%;
        background-color: var.$white;
        margin-bottom: var.$spacing-md;
    }

    &__header {
        font-size: var.$font-size-lg;
        margin-bottom: var.$spacing-lg;
        font-weight: 600;
    }

    &__body {
        position: relative;
    }

    @include mix.respond(lg) {
        &__container {
            flex-direction: row;
            gap: 2rem;
        }

        &__left {
            width: 65%;

        }

        &__right {
            width: calc(100% - (65% + 2rem));
            position: sticky;
            top: calc(var(--navbar-height) * 2);
            height: 100%;
        }
    }
}

.cart-summary {
    border: 1px solid var.$gray-200;

    &__header,
    &__body,
    &__footer {
        padding: var.$spacing-md;
    }

    &__header {
        border-bottom: 1px solid var.$gray-200;
        font-size: var.$font-size-lg;
        font-weight: 600;
    }
}

.price-break {
    width: 100%;
    display: flex;
    font-size: var.$font-size-md;
    font-weight: 500;

    &__column {
        width: 50%;
    }
}

.delivery-content {
    display: flex;
    flex-direction: row;
    margin-bottom: var.$spacing-xl;
    font-size: var.$font-size-sm;

    &__icon {
        width: var.$spacing-xl;
        height: var.$spacing-xl;
        margin-right: var.$spacing-md;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var.$font-size-xl;
    }
}

.cta-proceed-to-checkout {
    display: block;
    width: 100%;
    background-color: var.$color-primary;
    color: var.$white
}

.cta-continue-shopping {
    margin-top: 1rem;
    display: block;
    text-align: center;
}