@use "../../../styles/utils/abstract/variable" as var;
@use "../../../styles/utils/abstract/mixins" as mix;

.section-category {
    position: relative;
}

.product-quantity-block {
    font-size: 0.875rem;
    color: var.$gray-600;
    display: block;
    text-align: center;
}

.cta-filter {
    position: sticky;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: var.$spacing-sm var.$spacing-lg;
    z-index: var.$z-index-backdrop;
}