@use "../../../styles/utils/abstract/mixins" as mix;
@use "../../../styles/utils/abstract/variable" as var;

.navbar-category {
    background-color: var.$white;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-gray-200);
    position: sticky;
    top: 0;
   // z-index: var.$z-index-backdrop;

    &__container {
        display: flex;
        justify-content: center;
    }
}

.category-nav-link {
    font-size: 0.975rem;
    color: var.$gray-500;
}